body {
  background-color: #e6eff6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border: 2px solid #b2b9be;
  border-radius: 8px;
  overflow: hidden;
  margin: 16px;
  box-shadow: -3px 1px 25px 3px rgba(0, 0, 0, 0.75);
}
.card__top {
  padding: 40px;
  background: white;
}
.card__top__title {
  font-size: 28px;
  color: hsl(179, 62%, 43%);
  margin: 0px 0px 12px 0px;
}

.card__top__subtitle {
  margin: 20px 0;
  color: hsl(71, 73%, 54%);
  font-size: 20px;
}
.card__top__info {
  color: #adb4bc;
  font-size: 16px;
}

.card__bottom {
  display: flex;
  color: white;
}
.card__bottom__left {
  background: #2bb3b1;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__bottom__right {
  background: #4abebd;
  flex: 1;
}
.card__bottom__left,
.card__bottom__right {
  padding: 40px;
}

.card__bottom__left__title {
  font-size: 22px;
  margin-bottom: 28px;
}
.pricing {
  display: flex;
  align-items: center;
}
.money {
  font-size: 48px;
  margin-right: 10px;
}
.duration {
  flex-shrink: 0;
}
p {
  opacity: 0.6;
  font-size: 16px;
}
.card__bottom__right__title {
  font-size: 22px;
  margin-bottom: 20px;
}

li {
  font-size: 16px;
  opacity: 0.6;
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

button {
  padding: 10px;
  border: 2px solid hsl(71, 73%, 54%);
  background: hsl(71, 73%, 54%);
  border-radius: 6px;
  margin-top: 20px;
  width: 100%;
  flex-shrink: 0;
  font-size: 20px;
  color: white;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

button:hover {
  background: #2bb3b1;
  border: 2px solid hsl(0, 0%, 100%);
}

@media (max-width: 578px) {
  .card__top {
    padding: 20px;
  }
  .card__bottom__left {
    padding: 20px;
  }
  .card__bottom__right {
    padding: 20px;
  }
  .card__bottom {
    flex-direction: column;
  }

  card__top__info {
    line-height: 2rem;
  }
}
